<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core">
<h:head></h:head>
<h:body>
    <h2>Web Shop</h2>
    <h:form id="form">
    <p:growl id="msgs" showDetail="true" />
    <p:dataTable id="table" value="#{categoryView.kategorien}" var="category" editable="true" editMode="row" editingRow="true">
        <p:ajax event="rowEdit" listener="#{categoryView.onRowEdit}" update="table" />
        <p:column headerText="ID" sortOrder="asc" sortPriority="1">
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{category.id}" />
                 </f:facet>
                 <f:facet name="input">
                    <p:inputText value="#{category.id}"/>
                 </f:facet>
            </p:cellEditor>
        </p:column>
        <p:column headerText="name">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{category.name}" />
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{category.name}"/>
                     </f:facet>
                </p:cellEditor>
        </p:column>
        <p:column headerText="description">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{category.description}" />
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{category.description}"/>
                     </f:facet>
                </p:cellEditor>
        </p:column>
        <p:column headerText="products">
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{category.products}" />
                </f:facet>
                <f:facet name="input">
                    <p:inputText value="#{category.products}"/>
                 </f:facet>
            </p:cellEditor>
     </p:column>
    </p:dataTable>
</h:form>
</h:body>
</html>
