<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <link href="/css/styles.css" rel="stylesheet"/>
</h:head>
<h:body>
    <h2>Web Shop</h2>
    <h:form id="form">
    <p:growl id="msgs" showDetail="true" />
    <p:dataTable id="dt-products" widgetVar="dtProducts" var="product" value="#{productView.products}"
        selection="#{productView.selectedProduct}" rowKey="#{product.productNumber}"
        reflow="true" paginator="true" rows="10" paginatorPosition="bottom">

        <p:ajaxExceptionHandler type="java.lang.IllegalArgumentException" update="dt-products"/>
        <p:ajaxExceptionHandler type="javax.faces.application.ViewExpiredException" update="dt-products"/>

        <f:facet name="header">
            <div class="products-table-header">
                <span style="font-weight: bold">PRODUCTS</span>
                <p:inputText id="globalFilter" onkeyup="PF('dtProducts').filter()" placeholder="Search"/>

            </div>
        </f:facet>
        
        <p:column headerText="Produktnummer" sortBy="#{product.productNumber}" filterBy="#{product.productNumber}">
            <h:outputText value="#{product.productNumber}"/>
        </p:column>
        <p:column headerText="Produktname" sortBy="#{product.name}" filterBy="#{product.name}">
            <h:outputText value="#{product.name}"/>
        </p:column>
        <!--
        <p:column headerText="Bild" exportable="false">
            <p:graphicImage name="images/#{product.images[0]}" />
        </p:column>
        -->
        <p:column headerText="Preis" sortBy="#{product.price}">
            <h:outputText value="#{product.price}" style="font-weight: 700">
                <f:convertNumber currencySymbol="€" type="currency"/>
            </h:outputText>
        </p:column>
        <!--
        <p:column headerText="Kategorie" sortBy="#{product.categories[0]}">
            <h:outputText value="#{product.categories[0]}" />
        </p:column>
        -->
        <p:column headerText="Status" sortBy="#{product.getStatus()}">
            <h:outputText value="#{product.getStatus()}"/>
        </p:column>
        <p:column exportable="false">
            <p:commandButton icon="pi pi-search" styleClass="rounded-button ui-button-success"
                update=":form:show-product-details" oncomplete="PF('showProductDetails').show()" process="@this">
                <f:setPropertyActionListener value="#{product}" target="#{productView.selectedProduct}"/>
                <p:resetInput target=":form:show-product-details" />
            </p:commandButton>
        </p:column>
    </p:dataTable>

    <p:dialog header="Produktdetails" showEffect="fade" modal="true"
        widgetVar="showProductDetails">
        <p:outputPanel id="show-product-details" class="ui-fluid">
            <p:outputPanel rendered="#{not empty productView.selectedProduct}">
                    <!--
                    <div class="p-field">  
                        <ui:repeat value = "#{productView.selectedProduct.images}" var = "image">
                            <img src="/images/#{image}" height="150" />
                        </ui:repeat>
                    </div>
                    -->
                    <div class="p-field">
                        <p:outputLabel for="name">Name: </p:outputLabel>
                        <p:outputLabel id="name" value="#{productView.selectedProduct.name}"/>
                    </div>
                    <div class="p-field">
                        <p:outputLabel for="description">Beschreibung: </p:outputLabel>
                        <p:outputLabel id="description" value="#{productView.selectedProduct.description}"/>
                    </div>
                    <div class="p-field">
                        <p:outputLabel for="price">Preis: </p:outputLabel>
                        <p:outputLabel id="price" value="#{productView.selectedProduct.price}">
                            <f:convertNumber currencySymbol="€" type="currency"/>
                        </p:outputLabel>
                    </div>
                    <div class="p-field">
                        <p:outputLabel for="stock">Auf Lager: </p:outputLabel>
                        <p:outputLabel id="stock" value="#{productView.selectedProduct.inStock}"/>
                    </div>
                    <!--
                    <div class="p-field"> 
                        <p:outputLabel for="categories">Kategorien</p:outputLabel>
                        <ui:repeat value = "#{productView.selectedProduct.categories}" var = "category">
                            <p:outputLabel id="categories" value="#{category}"/>
                        </ui:repeat>
                    </div>
                    -->
                    <div class="p-field">
                        <p:outputLabel for="number">Produktnummer: </p:outputLabel>
                        <p:outputLabel id="number" value="#{productView.selectedProduct.productNumber}"/>
                    </div>

            </p:outputPanel> 
        </p:outputPanel>
    </p:dialog>

    </h:form>
</h:body>
</html>
